---
type: "object"
---

# verification

## Properties

| Property | Required | Type | Description |
| :------- | :------: | :--- | :---------- |
| `verified` | Yes | boolean |  |
| `reason` | Yes | string |  |
| `payload` | Yes | string |  |
| `signature` | Yes | string |  |
| `verified_at` | Yes | string |  |