---
type: "object"
---

# tls-certificates-and-hostnames_verification

## Properties

| Property | Required | Type | Description |
| :------- | :------: | :--- | :---------- |
| `brand_check` | No | [tls-certificates-and-hostnames_brand_check](tls-certificates-and-hostnames_brand_check.md) |  |
| `cert_pack_uuid` | No | [tls-certificates-and-hostnames_cert_pack_uuid](tls-certificates-and-hostnames_cert_pack_uuid.md) |  |
| `certificate_status` | Yes | [tls-certificates-and-hostnames_certificate_status](tls-certificates-and-hostnames_certificate_status.md) |  |
| `signature` | No | [tls-certificates-and-hostnames_schemas-signature](tls-certificates-and-hostnames_schemas-signature.md) |  |
| `validation_method` | No | [tls-certificates-and-hostnames_schemas-validation_method](tls-certificates-and-hostnames_schemas-validation_method.md) |  |
| `verification_info` | No | [tls-certificates-and-hostnames_verification_info](tls-certificates-and-hostnames_verification_info.md) |  |
| `verification_status` | No | [tls-certificates-and-hostnames_verification_status](tls-certificates-and-hostnames_verification_status.md) |  |
| `verification_type` | No | [tls-certificates-and-hostnames_verification_type](tls-certificates-and-hostnames_verification_type.md) |  |