---
type: "any"
---

# tls-certificates-and-hostnames_ownership_verification


This is a record which can be placed to activate a hostname.

## Properties

| Property | Required | Type | Description |
| :------- | :------: | :--- | :---------- |