---
type: "boolean"
---

# tls-certificates-and-hostnames_verification_status


Status of the required verification information, omitted if verification status is unknown.

## Properties

| Property | Required | Type | Description |
| :------- | :------: | :--- | :---------- |