---
type: "oneOf(1)"
---

# tls-certificates-and-hostnames_ownership_verification


This is a record which can be placed to activate a hostname.

Variants:
- (Inline Schema)

## Properties

| Property | Required | Type | Description |
| :------- | :------: | :--- | :---------- |