---
type: "object"
---

# issuing_cardholder_verification

## Properties

| Property | Required | Type | Description |
| :------- | :------: | :--- | :---------- |
| `document` | No | anyOf(1) | An identifying document, either a passport or local ID card. |