---
type: "object"
---

# legal_entity_company_verification

## Properties

| Property | Required | Type | Description |
| :------- | :------: | :--- | :---------- |
| `document` | Yes | [legal_entity_company_verification_document](legal_entity_company_verification_document.md) |  |